<!--
	Installed from https://ui.angular-material.dev/api/registry/
	Update this file using `@ngm-dev/cli update form-layouts/form-layout-1`
-->

<div class="sm:mx-auto sm:max-w-2xl p-4">
  <h3 class="text-xl font-semibold text-gray-900 dark:text-gray-50">
    Register to workspace
  </h3>
  <p class="mt-1 text-sm text-gray-600 dark:text-gray-400">
    Take a few moments to register for your company's workspace
  </p>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="mt-8 space-y-6">
    <div class="grid grid-cols-1 gap-x-4 gap-y-6 sm:grid-cols-6">
      <div class="col-span-full sm:col-span-3">
        <mat-form-field class="w-full">
          <mat-label>First name</mat-label>
          <input
            matInput
            formControlName="firstName"
            placeholder="First name"
            required
          />
          @if ( form.get('firstName')?.invalid && (form.get('firstName')?.dirty
          || form.get('firstName')?.touched) ) {
          <mat-error>First name is required</mat-error>
          }
        </mat-form-field>
      </div>
      <div class="col-span-full sm:col-span-3">
        <mat-form-field class="w-full">
          <mat-label>Last name</mat-label>
          <input
            matInput
            formControlName="lastName"
            placeholder="Last name"
            required
          />
          @if ( form.get('lastName')?.invalid && (form.get('lastName')?.dirty ||
          form.get('lastName')?.touched) ) {
          <mat-error>Last name is required</mat-error>
          }
        </mat-form-field>
      </div>
      <div class="col-span-full">
        <mat-form-field class="w-full">
          <mat-label>Email</mat-label>
          <input
            matInput
            formControlName="email"
            placeholder="Email"
            required
          />
          @if ( form.get('email')?.invalid && (form.get('email')?.dirty ||
          form.get('email')?.touched) ) {
          <mat-error>Valid email is required</mat-error>
          }
        </mat-form-field>
      </div>
      <div class="col-span-full">
        <mat-form-field class="w-full">
          <mat-label>Address</mat-label>
          <input matInput formControlName="address" placeholder="Address" />
        </mat-form-field>
      </div>
      <div class="col-span-full sm:col-span-2">
        <mat-form-field class="w-full">
          <mat-label>City</mat-label>
          <input matInput formControlName="city" placeholder="City" />
        </mat-form-field>
      </div>
      <div class="col-span-full sm:col-span-2">
        <mat-form-field class="w-full">
          <mat-label>State</mat-label>
          <input matInput formControlName="state" placeholder="State" />
        </mat-form-field>
      </div>
      <div class="col-span-full sm:col-span-2">
        <mat-form-field class="w-full">
          <mat-label>Postal code</mat-label>
          <input
            matInput
            formControlName="postalCode"
            placeholder="Postal code"
          />
        </mat-form-field>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="flex items-center justify-end space-x-4 mt-4">
      <button type="button" mat-button (click)="onCancel()">Cancel</button>
      <button type="submit" mat-flat-button>Submit</button>
    </div>
  </form>
</div>
